.btn{
	display:inline-block;
	padding:10px;
	font-size:14px;
	color:#343a40;
	background:#fff;
	border-radius:5px;
	cursor:pointer;
	transition: background 0.5s,color 0.5s;
	&.btn-gray{
		border:1px solid #343a40;
		color: #343a40;
		&:hover{
			color: #fff;
	    background-color: #343a40;
	    border-color: #343a40;
		}
	}
	&.btn-primary{
		border:1px solid #007bff;
		color: #007bff;
		&:hover{
			color: #fff;
    	background-color: #007bff;
    	border-color: #007bff;
		}
	}
}